@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Pacifico&family=Raleway&family=Titillium+Web&display=swap");
:root {
    --title-color: #eee;
    --text-color-light: #777;
    --text-color-dark: #222;
    --theme-color: #1fdb74;
    --theme-highlight: #ffffff;
    --theme-bg-dark: #15161b;
    --theme-bg-light: #d3d3d3;
    --card-shadow: #0000009f;
    --background: #1f2633;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

ul {
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}

.card-container {
    width: 23rem;
    border-radius: 1rem;
    background-color: var(--theme-bg-dark);
    box-shadow: 5px 5px 50px 5px var(--card-shadow);
    overflow: hidden;
    border: solid var(--theme-bg-dark) 2px;
}

p {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.card-up {
    position: relative;
    height: 23rem;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    transition: 0.5s ease-in-out;
    z-index: 3;
    cursor: pointer;
}

.main-img {
    height: 23rem;
    width: 23rem;

    object-fit: cover !important;
}

.card-container .card-up::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff4d;
    transform: skew(45deg);
    transition: 0.5s;
}

.card-container .card-up:hover:before {
    left: -180%;
}

.card-container .card-up ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-container .card-up ul li {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #0000;
    line-height: 2.5rem;
    text-align: center;
    transform: translateX(-100%);
}
ul {
    transition: 400ms ease;
}

li {
    transition: 400ms ease;
}
.card-container .card-up:hover ul {
    transition-delay: 400ms;
    background-color: var(--theme-bg-dark);
}

.card-container .card-up:hover ul li {
    transform: translateX(0%);
}

.card-container .card-up:hover ul li:nth-child(1) {
    transition-delay: 100ms;
}

.card-container .card-up:hover ul li:nth-child(2) {
    transition-delay: 200ms;
}

.card-container .card-up:hover ul li:nth-child(3) {
    transition-delay: 300ms;
}

.card-container .card-up:hover ul li:nth-child(4) {
    transition-delay: 400ms;
}

.card-container .card-up ul li a {
    color: var(--theme-color);
    font-size: 1.5rem;
}
.card-container .card-up ul li a:hover {
    color: var(--theme-highlight);
}

.card-up::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, var(--theme-bg-dark), #0000);
}

h1 {
    color: var(--title-color);
    font-family: "Grape Nuts", cursive;
    font-size: 3rem;
    font-weight: 400;
    padding: 1.5rem 1.3rem 0 1.3rem;
}

.text {
    font-family: "Pacifico", cursive;
    margin: 5px 20px 0 20px;
}

h2 {
    color: var(--title-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.4rem 1.4rem 0 1.4rem;
}

.text-description {
    color: var(--text-color-light);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

h3 {
    color: var(--theme-color);
    font-family: "Titillium Web", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
